{{!
    Page footer.
}}

<footer id="page-footer" class="py-3 bg-dark text-light">
    <div class="container">
        <div id="course-footer">{{{ output.course_footer }}}</div>


        <div class="footer-eadumboost row">

            <div class="col-lg-4 d-none d-lg-block logoUmPrn">
                <a href="http://www.univ-lemans.fr/">
                    {{# pix }} theme_eadumboost_logoUM, theme_eadumboost, Le Mans Université{{/ pix }}
                </a>
            </div>


            <div class="col-lg-4">

                {{# pix }} theme_eadumboost_logo, theme_eadumboost, UMTICE{{/ pix }}
                    <ul>
                        <li>

                            {{# str }} sitetitle, theme_eadumboost {{/ str }}
                        </li>

                    </ul>

            </div>

            <div class="col-lg-4 textfooter ">
                <h5>{{# str }} support:, theme_eadumboost {{/ str }}</h5>
                {{# str }} txtAssistanceFooter, theme_eadumboost {{/ str }}
            </div>
        </div>




        {{# output.page_doc_link }}
            <p class="helplink">{{{ output.page_doc_link }}}</p>
            {{/ output.page_doc_link }}

            {{{ output.login_info }}}
            <div class="tool_usertours-resettourcontainer"></div>
            {{{ output.home_link }}}
            <nav class="nav navbar-nav">
                {{# output.eadumboost_custom_menu_flat }}
                    <ul class="list-unstyled pt-3">
                        {{> theme_boost/custom_menu_footer }}
                    </ul>
                    {{/ output.eadumboost_custom_menu_flat }}
            </nav>
            {{{ output.standard_footer_html }}}
            {{{ output.standard_end_of_body_html }}}
    </div>
</footer>
