<div class="footer-mineticeboost row">

    <div class="col-lg-4 d-none d-lg-block logoFooter">
        <a href="http://www.univ-lemans.fr/">
            {{# pix }} theme_mineticeboost_logoUM, theme_mineticeboost, Le Mans Université{{/ pix }}
        </a>

        {{! VALEO PIX }} {{! > theme_mineticeboost/footer_logos_valeo}}


    </div>


    <div class="col-lg-4 plateform-logo">

        {{# pix }} theme_mineticeboost_logo, theme_mineticeboost, Logo plateforme Le Mans université{{/ pix }}
            <ul>
                <li>

                    {{# str }} sitetitle, theme_mineticeboost {{/ str }}
                </li>

            </ul>

    </div>

    
</div>
