<div class="footer-umticeboost row">

    <div class="col-lg-4 d-none d-lg-block logoFooter">
        <a href="http://www.univ-lemans.fr/" target="_blank">
            {{# pix }} theme_umticeboost_logoUM, theme_umticeboost, Le Mans Université{{/ pix }}
        </a>

    </div>


    <div class="col-lg-4 plateform-logo">

        {{# pix }} theme_umticeboost_logo, theme_umticeboost, Logo plateforme Le Mans université{{/ pix }}
            <ul>
                <li>

                    {{# str }} sitetitle, theme_umticeboost {{/ str }}
                </li>
	            <li>
					<a href="https://umtice.univ-lemans.fr/course/view.php?id=8074">
	             	   {{# str }} legalnotice, theme_umticeboost {{/ str }}
		          	</a>
	            </li>

            </ul>

    </div>

    <div class="col-lg-4 textfooter ">
        <h5>{{# str }} assistanceEns, theme_umticeboost {{/ str }} :</h5>
        <ul>
          <li>
            <a href="mailto:umtice-prn@univ-lemans.fr" target="_blank">
              {{# str }} assistance, theme_umticeboost {{/ str }}
            </a>
          </li>
          <li>
            <a href="/course/view.php?id=6974" target="_blank">
              {{# str }} FAQlong, theme_umticeboost {{/ str }}
            </a>
          </li>
          <li>
            <a href="http://coursumtice.univ-lemans.fr/" target="_blank">
              {{# str }} createcourse, theme_umticeboost {{/ str }}
            </a>
          </li>
          <li>
            <a href="http://appui-pedagogique.univ-lemans.fr/" target="_blank">
              {{# str }} catalogueFormation, theme_umticeboost {{/ str }}
            </a>
          </li>
        </ul>
		
    </div>
</div>
