<div class="footer-eadumboost row">

    <div class="col-lg-4 d-none d-lg-block logoFooter">
        <a href="http://www.univ-lemans.fr/">
            {{# pix }} theme_eadumboost_logoUM, theme_eadumboost, Le Mans Université{{/ pix }}
        </a>

        {{! VALEO PIX }} {{! > theme_eadumboost/footer_logos_valeo}}


    </div>


    <div class="col-lg-4 plateform-logo">

        {{# pix }} theme_eadumboost_logo, theme_eadumboost, Logo plateforme Le Mans université{{/ pix }}
            <ul>
                <li>

                    {{# str }} sitetitle, theme_eadumboost {{/ str }}
                </li>

            </ul>

    </div>

    <div class="col-lg-4 textfooter ">
        <h5>{{# str }} support:, theme_eadumboost {{/ str }}</h5>
        {{# str }} txtAssistanceFooter, theme_eadumboost {{/ str }}
    </div>
</div>
