{{!
    The content of the home page (not connected)
}}

<div class="d-flex flex-wrap  justify-content-center cadre-home ">


    MineTICE est une plateforme de découverte de l'environnement Moodle dédiée à l'apprentissage des fonctions de conception.
 <br /><br />

    Testez, Explorez, Brouillonnez, puis Concevez votre première formation en ligne en toute sécurité :  l'environnement de cette plateforme est fait pour cela.
    <br /><br />
    Notez que MineTice n'est pas un environnement de production mais un environnement d'apprentissage. La plateforme sera réinitialisée à chaque début d'année universitaire (septembre), nous vous recommandons donc d'exporter vos travaux une fois ceux-ci terminés.
 <br /><br />
    Accédez directement à la plateforme depuis votre tablette : notre nouvelle interface s'ajuste à la taille de votre écran.
 <br /><br />
Ce site web est optimisé pour les dernières mises à jour des navigateurs web Firefox et Chrome. Pensez à mettre à jour votre navigateur.


</div>
