{{!
    The content of the home page (not connected)
}}

<div class=" col d-flex flex-wrap  justify-content-center cadre-home frame-STS ">




    <div class="list_ufr">
        {{# str }} listUFR4, theme_umticeboost {{/ str }}
    </div>
    <div class="list_ufr">
        {{# str }} listUFR5, theme_umticeboost {{/ str }}
    </div>
    <div class="list_ufr">
        {{# str }} listUFR6, theme_umticeboost {{/ str }}
    </div>
    <div class="list_ufr">
        {{# str }} listUFR7, theme_umticeboost {{/ str }}
    </div>
    <div class="list_ufr">
        {{# str }} listUFR8, theme_umticeboost {{/ str }}
    </div>


</div>

<div class="col d-flex flex-wrap  justify-content-center cadre-home frame-LLSH ">

    <div class="list_ufr">
        {{# str }} listUFR3, theme_umticeboost {{/ str }}
    </div>
    <div class="list_ufr">
        {{# str }} listUFR1, theme_umticeboost {{/ str }}
    </div>
    <div class="list_ufr">
        {{# str }} listUFR2, theme_umticeboost {{/ str }}
    </div>




</div>
