{{!
    The content of the home page (not connected)
}}

<div class="d-flex flex-wrap  justify-content-center cadre-home ">


    <div class="icon-home">
        {{# pix }} theme_eadumboost_id-card_70, theme_eadumboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome1, theme_eadumboost {{/ str }}
    </div>


    <div class="icon-home">
        {{# pix }} theme_eadumboost_layers_70, theme_eadumboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome2, theme_eadumboost {{/ str }}
    </div>

    <div class="icon-home">
        {{# pix }} theme_eadumboost_info_70, theme_eadumboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome3, theme_eadumboost {{/ str }}
    </div>

    <div class="icon-home">
        {{# pix }} theme_eadumboost_laptop_70, theme_eadumboost{{/ pix }}
    </div>
    <div class="text-home-icon">
        {{# str }} txthome4, theme_eadumboost {{/ str }}
    </div>



</div>
