{{!
    Home page (not connected)
}}

{{> theme_boost/head }}


{{! hack to hide main_content add jjupin }}
<div class="d-none">
  <section class="d-none" style="display:none;">
    {{{ output.main_content }}}
</div>
{{! END hack to hide main_content add jjupin }}


<body {{{bodyattributes}}}>
  <div id="page-wrapper" class="page-wrapper-home-umticeboost">

    {{{ output.standard_top_of_body_html }}}

    <div id="page" class="container-fluid home-umticeboost">

      {{! home page header umticeboost add jjupin }}
      {{> theme_umticeboost/home_header }}



      <div id="page-content" class="row pb-3">
        <div id="region-main-box" class="col-12">
          <section id="region-main" class="d-flex justify-content-center">


            {{! home page umticeboost add jjupin }}


            <div class="d-flex flex-wrap  justify-content-center cadre-home ">

              <div class="list_ufr">
                {{# str }} listUFR1, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR2, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR3, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR4, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR5, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR6, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR7, theme_umticeboost {{/ str }}
              </div>
              <div class="list_ufr">
                {{# str }} listUFR8, theme_umticeboost {{/ str }}
              </div>


              <div class="w-100" style="height: 20px;"></div>


              <div class="icon-home">
                {{# pix }} user_group_70, theme, icon {{/ pix }}
              </div>
              <div class="text-home-icon">
                {{# str }} txthome1, theme_umticeboost {{/ str }}
              </div>

              <div class="icon-home">
                {{# pix }} tablet_70, theme_umticeboost, icon{{/ pix }}
              </div>
              <div class="text-home-icon">
                {{# str }} txthome2, theme_umticeboost {{/ str }}
              </div>

              <div class="icon-home">
                {{# pix }} wifi_70, theme_umticeboost, icon{{/ pix }}
              </div>
              <div class="text-home-icon">
                {{# str }} txthome3, theme_umticeboost {{/ str }}
              </div>

            </div>




            {{! END home page umticeboost add jjupin }}


          </section>
        </div>
      </div>
    </div>

    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/footer }}




  </div>
  {{{ output.standard_end_of_body_html }}}
</body>

</html>
{{#js}}
  require(['theme_boost/loader']);
{{/js}}
