// vars :
// === === === === === === === === === === ===




/* --- MODIF THEME STS LLSH  --- */
/* --- --- --- --- --- --- --- --- --- --- --- --- */
$umtice-STS: #db4c3b;
$umtice-LLSH: #2b3a6c;


// POUR STS :
/* === ===  === ===  === ===  === ===  === === */

$pinkumtice: $umtice-STS;
footer#page-footer a {
    color: $umtice-STS !important;
}

/* === ===  === ===  === ===  === ===  === === */


// POUR LLSH :
/* === ===  === ===  === ===  === ===  === === */
/*
$pinkumtice: $umtice-LLSH;
footer#page-footer a {
    color: lighten($umtice-LLSH, 50%) !important;
}
*/
/* === ===  === ===  === ===  === ===  === === */

/* --- VAR UMTICE: --- */


$grayumtice: #4d4d4d;
$lightgrayumtice: #eee;
//$pinkumtice: #de5b5e;
$lightbackground: #eeeee9;

// Theme color:
$themeSpecialColor1: $pinkumtice; 
$themeSpecialColor2: $pinkumtice; 

$borderSizeNavAndFooter: 4px;

$lightbackground: #f4f4f4; //Very light gray (mostly white).
$darkBackground: $grayumtice; //Very dark grayish blue.

$navdrawerBackground: $lightgrayumtice; 

$linkColor1: #08c;




/* ================== */
/* --- VAR THEME: --- */

$white: #fff;
$greenWarning: #00ff3e; // Pure (or mostly pure) lime green.

// Theme color:
$themeSpecialColor1: $themeSpecialColor1; // nav/footer border
$themeSpecialColor2    : $themeSpecialColor2; // buttons,

// links
$linkColor1: $linkColor1; // link moodle
$linkColor2: $themeSpecialColor2; // only on footer

// navdrawer
$navdrawerBackground: $navdrawerBackground;

// text:
$whiteText: $white;
$whiteTextHover: #d8d9da; // Light grayish blue.
$blackText: #212529;

//background:
$lightbackground: $lightbackground;
$darkBackground: $darkBackground; // nav, footer

//navbar:
$navbarBackgroundColor: $darkBackground;
$navbarBorderColor: $themeSpecialColor1;
$navbarBorderSize: $borderSizeNavAndFooter;
$navbarTextColor: $white;
$navbarHoverColor: $whiteTextHover;

// Footer:
$footerBorderSize: $borderSizeNavAndFooter;

// Login.
$colorAngers: #706F6F; //#0ABBEF;

// Smallsmartphones
$screen-xs-min: 375px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xxl-min: 1400px;

// Administration du site :
$adminDefaultRoleColor: $greenWarning;
