// vars :
// === === === === === === === === === === ===

// Theme color:
$grayumtice           : #4d4d4d;
$lightgrayumtice      : #eee;
$pinkumtice           : #de5b5e;

// text:
$whiteText            : #fff;
$blackText            : #212529;

//navbar:
$navbarBackgroundColor: $grayumtice;
$navbarBorderColor    : $pinkumtice;
$navbarBorderSize     : 4px;
$navbarTextColor      : #fff;
$navbarHoverColor     : #d8d9da
