// vars :
// === === === === === === === === === === ===

// Theme color:
$grayumtice: #4d4d4d;
$pinkumtice: #de5b5e;

//navbar:
$navbarBackgroundColor: $grayumtice;
$navbarBorderColor: $pinkumtice;
$navbarBorderSize: 4px;
$navbarTextColor: #fff;
