// Footer :
// --- --- --- --- --- --- --- --- --- --- ---

footer#page-footer {
    background-color: $darkBackground !important;
    text-align      : center;
    line-height     : 2;
    border-top      : $footerBorderSize solid $themeSpecialColor1;

    a {
        color          : $linkColor2;
        text-decoration: none;
        &:hover {
            color          : darken($linkColor2, 8%);
            text-decoration: underline;
        }
    }

    .footer-eadumboost {
        div {
            margin-top: 5px;
        }
        img {
            width : auto;
            height: 30px;

        }
        .logoUmPrn img {
            height: 50px;
        }
        ul {
            margin    : 0;
            padding   : 0;
            list-style: none;
        }
        .textfooter {
            line-height: 1.5;
        }

    }
    .logininfo {
        margin-top: 15px;
    }
    .homelink,
    .sitelink,
    .tool_dataprivacy {
        display: none;
    }

    .navbar-nav ul {
        display        : flex;
        flex-direction : row;
        flex-wrap      : wrap;
        justify-content: center;
        align-items    : baseline;
        align-content  : stretch;

        li:not(:last-child) {
            &::after {
                content: '|';
                margin : 0 .3rem;
            }
        }

    }

}
