/** Login form
-------------------------*/
.pagelayout-login {
    .card-header {
        background: $darkBackground;
        img {
            width: auto;
            height: 30px;
        }
    }
    .card-body {
        text-align: center;
        h2 {
            font-size: 2.5em;
            font-weight: 600;

            margin-top: .8em;
            margin-bottom: 1em;

            color: $darkBackground;
        }
        h3 {
            //font-size: 1.6em;
        }

        .button-connect-login {
            a {
                font-size: 1.5em;
                color: $whiteText;
                margin-top: .8em;
                margin-bottom: .8em;
                img {
                    width: auto;
                    height: 1.2em;
                }
                @media (max-width: $screen-lg-min) {
                    font-size: 1.3em;
                }
                @media (max-width: $screen-md-min) {
                    font-size: 1em;
                }
            }
        }
        .button-connect-UM a {
            font-weight: 600;
            background: $linkColor1;
            img {
                width: auto;
                height: 2em;
            }
            &:hover {
                background: darken($linkColor1, 8%);
            }
        }
        .button-connect-angers a{
            background: $colorAngers;
            &:hover {
                background: darken($colorAngers, 8%);
            }
       
        }
        form {
            margin-bottom: 2em;
        }
    }
    
}
