
.navbar-brand span {
    font-size  : 2.5rem !important;
}

.background-STS {
    background: $umtice-STS !important;
}

.background-LLSH {
    background: $umtice-LLSH !important;

}

.btn-login {
    @media (max-width: $screen-md-min) {
        margin: 30px auto 0 !important;
        width : 100%;
    }
}

.frame-STS {
    border: 1px solid $umtice-STS !important;
    .list_ufr {
        border-left: solid 4px $umtice-STS !important;
    }
}

.frame-LLSH {
    border: 1px solid $umtice-LLSH !important;
    .list_ufr {
        border-left: solid 4px $umtice-LLSH !important;
    }
}

.cadre-home {
    margin: 1rem;
}

#page.home-umticeboost .cadre-home .list_ufr {
    width: 100%;

}
